<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current" [routerLinkActiveOptions]={exact:true}><a routerLink="">דף הבית</a></li>
        <li routerLinkActive="active current"><a routerLink="/sign-in">כניסה</a></li>
        <li routerLinkActive="active current"><a routerLink="/sign-up">הרשמה</a></li>
        <li routerLinkActive="active current"><a routerLink="/offer">בקשה להצעת מחיר</a></li>
        <li routerLinkActive="active current"><a routerLink="/users">משתמשים</a></li>
        <li routerLinkActive="active current"><a routerLink="/activity">פעילויות</a></li>
        <li routerLinkActive="active current"><a routerLink="/dashboard">דשבורד</a></li>
      </ul>
    </div>
  </div>
</nav>
