<div class="body">

    <div class="row">
      <div class="col l12">
        <ul class="tabs" materialize="tabs">
          <li class="tab col l6 center-align">
            <a href="#test1" class="active"> אשכול הפיס למדעים טכנולוגיה ואומניות </a>
            <a href="#test2"> מפרט טכני </a>
          </li>
        </ul>
        <div style="padding-top:20px;">
          <div id="test1" class="col l12">
            <div class="col l1"></div>
            <div class="col l3">
              <p style="font-weight: bold;" id="smaller">
                האודיטוריום
              </p>

              <p id="smaller2">
                האודיטוריום משמש למפגשי תרבות של הקהילה בסביבה עם בית הספר. אנו מעונינים להגיע למצב של לוח פעילות מלא מבוקר עד ערב. תכנון
                פעילות מפורט לקראת סופה של חוברת זו.
              </p>
              <p style="font-weight: bold;" id="smaller">
                לוח פעילות – בוקר
              </p>
              <p id="smaller2">
                בפעילות בוקר משתתפים בעיקר תלמידי בית הספר מקיף גילה
              </p>
              <p id="smaller2">
                1. הרצאות בנושאים שונים
              </p>
              <p id="smaller2">
                2. סרטים הקשורים לנושאים לימודים
              </p>
              <p id="smaller2">
                3. כנסים שכבתיים
              </p>
              <p id="smaller2">
                4. פעילות מגוונות לקראת חגים וציון אירועים חברתיים בית ספריים
              </p>
              <p id="smaller2">
                בעת שיבוץ הפעילות ניתנת קידומת לביה"ס מקיף גילה ולאחר מכן משובצים בתי הספר האחרים.
              </p>
              <p style="font-weight: bold;" id="smaller">
                לוח פעילות - ערב
              </p>
              <p id="smaller2">
                הזמנות העקריות הן של:
              </p>
              <p id="smaller2">
                1. המתנ"ס בתחום :
              </p>
              <p id="smaller2">
                סרטים, הצגות, מועדון זמר, כוכב נולד.
              </p>
              <p id="smaller2">
                2. מפגשי ערב וערבי הורים ותלמידים של בתי ספר שונים בעיר.
              </p>
              <p id="smaller2">
                3. כנסים שונים של מנח"י ואגפים נוספים בעיריה
              </p>
              <p id="smaller2">
                4. כנסים מטעם משרד הביטחון
              </p>
              <p id="smaller2">
                5. כנסים מטעם אגפים שונים במשרד החינוך כמו יועצות ,מתליות, וכד'
              </p>
            </div>
            <div class="col l1"></div>
            <div class="col l3">
              <p style="font-weight: bold;" id="smaller">
                יעדי אב
              </p>
              <p id="smaller2">
                יציאת דרכים שונות להגברת מספר התלמידים הנחשפים למגמות המדעיות בבית הספר.
              </p>
              <p id="smaller2">
                עיסוק במדעים לנוער "יחודיות". פיתוח מצויינות במדע וטכנולוגיה לחטיבת הביניים.
              </p>
              <p id="smaller2">
                ביסוס מעמדו של האשכול כמרכז חינוכי למדע ולטכנולוגיה, לאומנות ולתרבות בדרום העיר.
              </p>
              <p id="smaller2">
                פיתוח צוות מדעים וטכנולוגיה – השתלמויות למורי "מו"ט" המלמדים בדרום העיר – בחסות הפסגה.
              </p>
              <p id="smaller2">
                שילוב הקהילה – ערבי קפה–מדע, פעילויות המשלבות הורים ותלמידים סביב נושאים נבחרים.
              </p>
              <p id="smaller2">
                אירועי סל תרבות – לתלמידים בבתי הספר היסודיים.
              </p>
              <p id="smaller2">
                הרחבת פעילות האשכול והעמקתו כמרכז לאוכלוסיות מיוחדות – פרוייקט אילנות, פעילות קו-לחיים וכו'.
              </p>
            </div>
            <div class="col l1"></div>
            <div class="col l3">
              <p style="font-weight: bold;" id="smaller">
                אשכול הפיס
              </p>
              <p id="smaller2">
                אשכול הפיס הוא מרכז פעיל ללא הפסקה, המזמן למידה והתנסות של ילדים, בני נוער, מבוגרים וגמלאים כאחד.
              </p>
              <p id="smaller2">
                זמני הפעילות 23:00-8:00 ויותר.
              </p>
              <p id="smaller2">
                האשכול פתוח לקהילה, ומתקיימים בו אירועים רבים ומגוונים.
              </p>
              <p id="smaller2">
                בשעות הבוקר משמש המרכז סביבת לימוד למדעים, לטכנולוגיה ולאומנויות לתלמידי ביה"ס המקיף בגילה ולבתי ספר נוספים המשולבים בו.
              </p>
              <p id="smaller2">
                בין היעדים שהצבנו - להפוך את אשכול הפיס למרכז מדעים זמין ונוח לתושבי השכונה תוך ניצול מירבי של חדרי המחשבים והתקשורת. החדרים
                משוכללים ומאובזרים בטכנולוגיה מתקדמת. במרכז קיימות 5 מעבדות, חממה טכנולוגית , סדנת מחול, אודיטוריום, ולובי
              </p>
            </div>
          </div>


        </div>

        <div id="test2" class="col l12">
          <p>fff</p>
        </div>

        </div>


    </div>
