p#lower {
    line-height: 1;
}
p {
    line-height: 3;
}
p#smaller {
    line-height: 2.8;
    font-size: 25px;
}
p#smaller2 {
    line-height: 1;
    font-size: 20px;
}
.body {
    direction: rtl;
    margin-right:0px;
    margin-top:15px;
    color:black;
}
.col {
    padding:0px;
    margin:0px;
}
.row {
    padding:0px;
    margin:0px;
}
