<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">אשכול פיס גילה</h1>
    <p class="lead">המקום שלך לאירוע מושלם במחיר משתלם במיוחד</p>
    <a href="/offer" class="btn btn-primary btn-lg">הזמנת אירוע</a>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">מחול</h4>
          <p class="card-text">חדר מחול משוכלל הכולל רצפה מותאמת לריקוד. בחדר המחול קיים ציוד הגברה מובנה, מראות ואביזרים שונים לריקוד. חדר זה צמוד לבמה שבאודיטוריום ולכן מתאים לשכירה כחדר תלבושות והתארגנות למופע ובמהלכו</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">גלה עוד</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">מעבדות</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">גלה עוד</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">אודיטורים</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">גלה עוד</a>
        </div>
      </div>
    </div>


  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
