<div class="bodyhomepage">
    <div style="padding-top:30px"></div>
    <div class="row">
        <div class="col l12">
            <div class="slider" materialize="slider">
                <ul class="slides">
                    <li>
                        <img src='{{slider1}}'>
                        <div class="caption center-align">
                            <h3> אשכול הפיס </h3>
                            <h5 class="light grey-text text-lighten-3"> דברים טובים מתחילים כאן </h5>
                        </div>
                    </li>
                    <li>
                        <img src='{{slider2}}'>
                        <div class="caption left-align">
                            <h3> בשביל הקהילה </h3>
                            <h5 class="light grey-text text-lighten-3"> </h5>
                        </div>
                    </li>
                    <li>
                        <img src='{{slider3}}'>
                        <div class="caption right-align">
                            <h3> </h3>
                            <h5 class="light grey-text text-lighten-3"> </h5>
                        </div>
                    </li>
                    <li>
                        <img src='{{slider4}}'>
                        <div class="caption center-align">
                            <h3> </h3>
                            <h5 class="light grey-text text-lighten-3"> </h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div style="padding-top:30px"></div>
    <div class="row">
        <div class="col l6 center-align">
            <iframe width="450" height="450" src="https://www.youtube.com/embed/9-jr8QAmfHU" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </div>

        <div class="col l6 center-align">
            <iframe width="450" height="450" src="https://www.youtube.com/embed/5PFB5eJ55h0" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
        </div>
    </div>
    <div style="padding-top:30px"></div>
    <div class="row">
        <div class="col l12">
            <iframe id="u44_input" scrolling="no" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="100%"
                height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.274178788009!2d35.19898318557071!3d31.73571634365355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502d819370686f9%3A0xe5e4fb87c07599e9!2z15DXqdeb15XXnCDXpNeZ16E!5e0!3m2!1siw!2sil!4v1515578954127"></iframe>
        </div>
    </div>
</div>
