<ul class="collection with-header center-align">
  <li class="collection-header">
    <h4> הודעה לעובדים </h4>
  </li>
</ul>
<flash-messages></flash-messages>
<div class="row"></div>
<div class="row"></div>
<div class="row" *ngIf="msg">
  <form class="col l12" #form="ngForm" (ngSubmit)="updateMsg()">
    <div class="row">
      <div class="input-field col l6 offset-l3">
        <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="msg.content" name="msg.content" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col l12 center-align">
        <button class="btn" [disabled]="!form.valid"> שלח הודעה </button>
      </div>
    </div>
  </form>
</div>
