<div>
  <div style="padding-top:50px"> </div>
  <div class="row">
    <div class="col l3 offset-l4 center-align">
      <form>
        <div>
          <label> אימייל </label>
          <input type="text" [(ngModel)]="email" name="email">
        </div>
        <div>
          <label> סיסמא </label>
          <input type="password" [(ngModel)]="password" name="password">
        </div>
        <button class="btn" (click)="Login()"> Login </button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l3 offset-l4 center-align">
    <a routerLink="/register">
      עדיין לא רשום? הירשם עכשיו
    </a>
    <br>
    <a href="#">שכחתי סיסמא</a>
  </div>
</div>
