div {
  text-align: right;
  width: 300px;
}

.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-right: 5px solid #a94442; /* red */
}


div.wrapper { float:right;}
div.wrapper label { float: left; width: 90%; text-align: right; }
div.clearboth { clear: both }

input{
  direction:rtl;
}
