<div class="container">
  <div [hidden]="submitted">

    <h1>הצעת מחיר</h1>

    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <h3>פרטי האירוע</h3>
      <div class="form-group">
        <label for="name">שם הפעילות</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          נדרש שם הפעילות
        </div>
      </div>

      <div class="form-group">
        <label for="use">מתקנים נדרשים</label><br>
        <div class="wrapper">
          <label for="use1">אודיטוריום ולובי</label>
          <input name="use1" id="auditorium" type="checkbox">
          <div class="clearboth"></div>
          <label for="use2">מחול / חדר הלבשה גדול</label>
          <input name="use2" id="dance" type="checkbox">
          <div class="clearboth"></div>
          <label for="use3">אומנות / חדר התארגונות</label>
          <input name="use3" id="art" type="checkbox">
          <div class="clearboth"></div>
          <label for="use4">לובי בלבד</label>
          <input name="use4" id="lobby" type="checkbox">
          <div class="clearboth"></div>
          <label for="use5">מעבדות</label>
          <input name="use5" id="class" type="checkbox">
          <div class="clearboth"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="equipment">ציוד נדרש</label><br>
        <div class="wrapper">
          <label for="equipment1">שולחנות</label>
          <input name="equipment1" id="table" type="checkbox">
          <div class="clearboth"></div>
          <label for="equipment2">כסאות</label>
          <input name="equipment2" id="chair" type="checkbox">
          <div class="clearboth"></div>
          <label for="equipment3">מיחמים</label>
          <input name="equipment3" id="boiler" type="checkbox">
          <div class="clearboth"></div>
          <label for="equipment4">מקרן / ברקו</label>
          <input name="equipment4" id="projector" type="checkbox">
          <div class="clearboth"></div>
          <label for="equipment5">הגברה מקצועית</label>
          <input name="equipment5" id="amplifier" type="checkbox">
          <div class="clearboth"></div>
          <label for="equipment6">תאורה מקצועית</label>
          <input name="equipment6" id="lighting" type="checkbox">
          <div class="clearboth"></div>
        </div>
      </div>

      <div class="form-group">
        <label for="partner">כמות משתתפים</label>
        <select class="form-control" id="partner"
                required
                [(ngModel)]="model.partner" name="partner"
                #partner="ngModel">
          <option *ngFor="let par of partners" [value]="par">{{par}}</option>
        </select>
        <div [hidden]="partner.valid || partner.pristine" class="alert alert-danger">
          נדרש מספר משתתפים
        </div>
      </div>

      <div class="form-group">
        <label for="date">תאריך</label>
        <input type="text" class="form-control" id="date"
               required
               [(ngModel)]="model.date" name="date"
               #date="ngModel">
        <div [hidden]="date.valid || date.pristine"
             class="alert alert-danger">
          נדרש תאריך
        </div>
      </div>

      <div classs="form-group">
        <label for="time">שעות</label>
        <input type="text" class="form-control" id="time"
               required
               [(ngModel)]="model.time" name="time"
               #time="ngModel">
        <div [hidden]="time.valid || time.pristine"
             class="alert alert-danger">
          נדרש שעות
        </div>
      </div>


      <h3>פרטי יצירת קשר</h3>

      <div class="form-group">
        <label for="contact">שם איש קשר</label>
        <input type="text" class="form-control" id="contact"
               required
               [(ngModel)]="model.contact" name="contact"
               #contact="ngModel">
        <div [hidden]="contact.valid || contact.pristine"
             class="alert alert-danger">
          נדרש שם
        </div>
      </div>

      <div class="form-group">
        <label for="company">שם המוסד</label>
        <input type="text" class="form-control" id="company"
               required
               [(ngModel)]="model.company" name="company"
               #company="ngModel">
        <div [hidden]="company.valid || company.pristine"
             class="alert alert-danger">
          נדרש מוסד
        </div>
      </div>

      <div class="form-group">
        <label for="tel">פלאפון</label>
        <input type="text" class="form-control" id="tel"
               required
               [(ngModel)]="model.tel" name="tel"
               #tel="ngModel">
        <div [hidden]="tel.valid || tel.pristine"
             class="alert alert-danger">
          נדרש פלאפון
        </div>
      </div>

      <div class="form-group">
        <label for="email">אימייל</label>
        <input type="text" class="form-control" id="email"
               required
               [(ngModel)]="model.email" name="email"
               #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          נדרש אימייל
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">שליחה</button>
      <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">בקשה חדשה</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>בקשתך התקבלה</h2>
    <h3>להלן פרטי ההצעה ששלחת</h3>
    <div class="row">
      <div class="col-xs-3">שם הפעילות</div>
      <div class="col-xs-9  pull-right">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">מתקנים נדרשים</div>
      <div class="col-xs-9 pull-right">{{ model.use }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">ציוד נדרש</div>
      <div class="col-xs-9 pull-right">{{ model.equipment }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">כמות משתתפים</div>
      <div class="col-xs-9 pull-right">{{ model.partner }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">תאריך</div>
      <div class="col-xs-9 pull-right">{{ model.date }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">זמן</div>
      <div class="col-xs-9 pull-right">{{ model.time }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">איש קשר</div>
      <div class="col-xs-9 pull-right">{{ model.contact }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">מוסד</div>
      <div class="col-xs-9 pull-right">{{ model.company }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">פלאפון</div>
      <div class="col-xs-9 pull-right">{{ model.tel }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">אימייל</div>
      <div class="col-xs-9 pull-right">{{ model.email }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">עריכה</button>
  </div>
</div>
