<div *ngIf="userIsAdmin === true && userIsLoggedIn === true">
  <div class="body">
    <div class="link" routerLink="/dashboard">
      <div class="icon">
        <i class="fas fa-home"></i>
      </div>
      <div class="link-text">
        דשבורד
      </div>
    </div>
    <div class="link" routerLink="/organizations">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        ניהול ארגונים
      </div>
    </div>
    <div class="link" routerLink="/accounting">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        ניהול גזבר
      </div>
    </div>
    <div class="link" routerLink="/workers">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        ניהול עובדים
      </div>
    </div>
    <div class="link" routerLink="/mheron">
      <div class="icon">
        <i class="fas fa-file-invoice-dollar"></i>
      </div>
      <div class="link-text">
        ניהול מחירון
      </div>
    </div>
    <div class="link" routerLink="/users">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        ניהול לקוחות
      </div>
    </div>
    <div class="link" routerLink="/calendar">
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="link-text">
        יומן
      </div>
    </div>
    <div class="link" routerLink="/events">
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="link-text">
        אירועים
      </div>
    </div>
    <div class="link" routerLink="/messageToWorkers">
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="link-text">
        הודעה לעובדים
      </div>
    </div>
    <div class="link" routerLink="/messageToClients">
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="link-text">
        הודעה ללקוחות
      </div>
    </div>
  </div>
</div>



<div *ngIf="userIsClient === true && userIsLoggedIn === true">
  <div class="body">
    <div class="link" routerLink="/dashboard">
      <div class="icon">
        <i class="fas fa-home"></i>
      </div>
      <div class="link-text">
        דשבורד
      </div>
    </div>
    <div class="link" routerLink="/createevent">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        צור אירוע
      </div>
    </div>
    <div class="link" routerLink="/events">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        אירועים שלי
      </div>
    </div>

    <div class="link" routerLink="/calendar">
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="link-text">
        יומן
      </div>
    </div>
    <div class="link" routerLink="/contact">
      <div class="icon">
        <i class="fas fa-user-tie"></i>
      </div>
      <div class="link-text">
        צור קשר
      </div>
    </div>
  </div>
</div>



<div *ngIf="userIsWorker === true && userIsLoggedIn === true">
  <div class="body">
    <div class="link" routerLink="/dashboard">
      <div class="icon">
        <i class="fas fa-home"></i>
      </div>
      <div class="link-text">
        דשבורד
      </div>
    </div>
    <div class="link" routerLink="/calendar">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        יומן
      </div>
    </div>
    <div class="link" routerLink="/events">
      <div class="icon">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="link-text">
        אירועים שלי
      </div>
    </div>


  </div>
</div>

<div *ngIf="userIsGazbar === true && userIsLoggedIn === true">

</div>
